stages:
  - test
  - build
  - deploy

.curl-tpl: &curl-tpl
  variables:
    GIT_STRATEGY: none
  tags:
    - curl
  before_script:
      - apk add --no-cache curl jq

.build-pkg-tpl: &build-pkg-tpl
  <<: *curl-tpl
  only:
    - master@linagora/lgs/openpaas/esn-sabre
  except:
    variables:
      - $SKIP_BUILD_PKG

test:
  image: linagora/php-deps-composer:7.0.31
  stage: test
  tags:
    - docker
  services:
    - mongo:3.2
  script:
    - composer up
    - ./vendor/bin/phpcs -p --standard=vendor/sabre/dav/tests/phpcs/ruleset.xml --report-checkstyle=checkstyle.xml lib/
    - cd tests
    - ../vendor/bin/phpunit --coverage-clover=${CI_PROJECT_DIR}/clover.xml --log-junit=${CI_PROJECT_DIR}/junit.xml .
  except:
    variables:
      - $SKIP_TESTS

.build_pkg_deb_jessie:
  <<: *build-pkg-tpl
  stage: build
  script:
    - curl -s -X POST
      -F "token=${BUILD_PACKAGE_CI_TOKEN}"
      -F "ref=master"
      -F "variables[REPO]=https://ci.linagora.com/linagora/lgs/openpaas/esn-sabre.git"
      -F "variables[VERSION_FILE]=composer.json"
      -F "variables[PACKAGE_NAME]=openpaas-davserver"
      -F "variables[DOCKERFILE]=debian/jessie/Dockerfile"
      https://ci.linagora.com/api/v4/projects/338/trigger/pipeline | jq .

.build_pkg_deb_stretch:
  <<: *build-pkg-tpl
  stage: build
  script:
    - curl -s -X POST
      -F "token=${BUILD_PACKAGE_CI_TOKEN}"
      -F "ref=master"
      -F "variables[REPO]=https://ci.linagora.com/linagora/lgs/openpaas/esn-sabre.git"
      -F "variables[VERSION_FILE]=composer.json"
      -F "variables[PACKAGE_NAME]=openpaas-davserver"
      -F "variables[DOCKERFILE]=debian/stretch/Dockerfile"
      https://ci.linagora.com/api/v4/projects/338/trigger/pipeline | jq .

.build_pkg_rpm:
  <<: *build-pkg-tpl
  stage: build
  script:
    - curl -s -X POST
      -F "token=${BUILD_PACKAGE_CI_TOKEN}"
      -F "ref=master"
      -F "variables[REPO]=https://ci.linagora.com/linagora/lgs/openpaas/esn-sabre.git"
      -F "variables[VERSION_FILE]=composer.json"
      -F "variables[PACKAGE_NAME]=openpaas-davserver"
      -F "variables[DOCKERFILE]=redhat/7/Dockerfile"
      https://ci.linagora.com/api/v4/projects/338/trigger/pipeline | jq .

deploy_dev:
  stage: deploy
  tags:
    - dev.open-paas.org
    - deployment
  variables:
    GIT_STRATEGY: none
  environment:
    name: dev
    url: https://dev.open-paas.org
  only:
    - master@linagora/lgs/openpaas/esn-sabre
  script:
    - cd /srv/sabre.dev
    - git fetch --all
    - git checkout ${CI_COMMIT_SHA}
    - composer up
  except:
    variables:
      - $SKIP_DEPLOY

.build-docker-tpl: &build-docker-tpl
  image: docker-registry.linagora.com:5000/linshare-snapshots/linshare-dind:latest
  tags:
    - docker
  services:
      - name: docker-registry.linagora.com:5000/linshare-snapshots/linshare-dind:latest
        alias: docker-dind

docker-snapshot:
  <<: *build-docker-tpl
  stage: build
  variables:
      DOCKER_HOST: "tcp://docker-dind"
      DOCKER_IMAGE_PRIVATE: "docker-registry.linagora.com:5000/openpaas-snapshots/openpaas-esn-sabre"
  script:
    - guess-version.sh guest
    - source version.env
    - docker-tag-computing.sh ${VERSION} docker-tag-and-push.env
    - docker login -u ${REGISTRY_USER} -p ${REGISTRY_TOKEN} docker-registry.linagora.com:5000
    - docker build . -t build:latest
    - docker-tag-and-push.sh build:latest ${DOCKER_IMAGE_PRIVATE}
    - docker logout
  only:
    - master@linagora/lgs/openpaas/esn-sabre
    - /^release-.*/@linagora/lgs/openpaas/esn-sabre
  except:
    variables:
      - $SKIP_BUILD_DOCKER

docker-release:
  <<: *build-docker-tpl
  stage: build
  variables:
      DOCKER_HOST: "tcp://docker-dind"
      DOCKER_IMAGE_PRIVATE: "docker-registry.linagora.com:5000/openpaas-releases/openpaas-esn-sabre"
      DOCKER_IMAGE_PUBLIC: "linagora/esn-sabre"
  script:
    - docker-tag-computing.sh ${CI_COMMIT_TAG} docker-tag-and-push.env
    - docker login -u ${REGISTRY_USER_RELEASE} -p ${REGISTRY_TOKEN_RELEASE} docker-registry.linagora.com:5000
    - docker login -u ${HUB_DOCKER_USER} -p ${HUB_DOCKER_TOKEN}
    - docker build . -t build:latest
    - docker-tag-and-push.sh build:latest ${DOCKER_IMAGE_PRIVATE} ${DOCKER_IMAGE_PUBLIC}
    - docker logout
  only:
    - tags@linagora/lgs/openpaas/esn-sabre
  except:
    variables:
      - $SKIP_BUILD_DOCKER

docker-mark-as-latest-from-tag:
  <<: *build-docker-tpl
  stage: deploy
  variables:
      GIT_STRATEGY: none
      DOCKER_HOST: "tcp://docker-dind"
      DOCKER_IMAGE_PRIVATE: "docker-registry.linagora.com:5000/openpaas-releases/openpaas-esn-sabre"
      DOCKER_IMAGE_PUBLIC: "linagora/esn-sabre"
  script:
    - docker login -u ${REGISTRY_USER_RELEASE} -p ${REGISTRY_TOKEN_RELEASE} docker-registry.linagora.com:5000
    - docker login -u ${HUB_DOCKER_USER} -p ${HUB_DOCKER_TOKEN}
    - docker-tag-computing.sh ${CI_COMMIT_TAG} docker-tags.env
    - source docker-tags.env
    - docker pull ${DOCKER_IMAGE_PRIVATE}:${DOCKER_TAG}
    - export DOCKER_TAGS=latest
    - docker-tag-and-push.sh ${DOCKER_IMAGE_PRIVATE}:${DOCKER_TAG} ${DOCKER_IMAGE_PRIVATE} ${DOCKER_IMAGE_PUBLIC}
    - docker logout
  when: manual
  only:
    - tags@linagora/lgs/openpaas/esn-sabre
