<phpunit
  colors="true"
  bootstrap="bootstrap.php"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  reportUselessTests="true"
  strictCoverage="true"
  disallowTestOutput="true"
  enforceTimeLimit="true"
  >
  <testsuite name="linagora-esn-sabre-dav">
      <directory>DAV</directory>
  </testsuite>
  <testsuite name="linagora-esn-sabre-davacl">
      <directory>DAVACL</directory>
  </testsuite>
  <testsuite name="linagora-esn-sabre-caldav">
      <directory>CalDAV</directory>
  </testsuite>
  <testsuite name="linagora-esn-sabre-carddav">
      <directory>CardDAV</directory>
  </testsuite>
  <testsuite name="linagora-esn-sabre-json">
      <directory>JSON</directory>
  </testsuite>

  <filter>
    <whitelist addUncoveredFilesFromWhitelist="true">
       <directory suffix=".php">../lib/</directory>
    </whitelist>
  </filter>
</phpunit>
