<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         colors="true"
         bootstrap="bootstrap.php"
         cacheDirectory=".phpunit.cache"
         enforceTimeLimit="true"
         defaultTimeLimit="15"
         failOnRisky="true"
         failOnWarning="false"
         failOnDeprecation="false">
  <source>
    <include>
      <directory suffix=".php">../lib/</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="linagora-esn-sabre-dav">
      <directory>DAV</directory>
    </testsuite>
    <testsuite name="linagora-esn-sabre-davacl">
      <directory>DAVACL</directory>
    </testsuite>
    <testsuite name="linagora-esn-sabre-caldav">
      <directory>CalDAV</directory>
    </testsuite>
    <testsuite name="linagora-esn-sabre-carddav">
      <directory>CardDAV</directory>
    </testsuite>
    <testsuite name="linagora-esn-sabre-json">
      <directory>JSON</directory>
    </testsuite>
  </testsuites>
</phpunit>
